@import url("https://fonts.googleapis.com/css?family=Acme");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");

#appContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.bg {
    position: fixed;
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    /*background: linear-gradient(to left, #000000, #434343);  */
    background: linear-gradient(#56ab2f , #a8e063); 
    /*background: linear-gradient(#00997f , #b1d238); */
}

.primaryColor {
    color: #3c6388; 
}

.secondaryColor {
    color: #3c6388;
}

.mainContent {
    margin: 20px 0 20px 0;
    /*opacity: 0;*/
    display: flex;
    justify-content: space-between;
    flex: 0 0 650px;
    overflow: hidden;
    height: 650px;
}

#leftMain {
    margin-left: 200px;
    align-self: center;
}

#rightMain {
    justify-content: flex-end;
    margin: 0 40px 0 0;
    width: 800px;
    flex: 0 0 800px;
}

.parallaxLayer {
	position: absolute;
	display: block;
}

.abs {
    position: absolute;
}

.mainHeader {
    font-family: Acme;
    font-size: 8rem;
    line-height: 1;
    color: #3c6388;
    margin: 0 0 40px 0;
    cursor: default;
}
.mainBorder {
    display: block;
    width: 430px;
    height: 8px;
    border-radius: 5px;
    background: #3c6388;
    margin-right: -500px;
}
.mainDescription {
    font-size: 3rem;
    line-height: 1;
    color: #3c6388;
    cursor: default;
}

.bottomNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#topScrollIndicator {
    margin: 10px 0 10px 0;
    /*opacity: 0;*/
    text-align: center;
    align-self: center;
    font-size: 80px;
    width: 15%;
    cursor: default;
    display: flex;
    justify-content: space-around;
    flex: 0 0 80px;
}
#bottomScrollIndicator {
    margin: 10px 0 10px 0;
    /*opacity: 0;*/
    text-align: center;
    align-self: center;
    font-size: 80px;
    width: 15%;
    cursor: default;
    display: flex;
    justify-content: space-around;
    flex: 0 0 80px;
}

.hoverable:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.scalable:hover {
    transform: scale(1.01);
    /*cursor: pointer;*/
}