#topNavContainer{
    background: #8E8D8A;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.socialIcon {
    font-size: 2rem;
    padding: 0 14px 0 14px;
    color: #EAE7DC;
}

.indexLink {
    font-family: Acme;
    font-size: 1.4rem;
    text-decoration: none;
    padding: 4px 4px 4px 4px;
    color: #EAE7DC;
}

.portfolioLink {
    margin-bottom: 0px;
    font-family: Acme;
    font-size: 2rem;
}

.topNav {
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid #068c49; */
}

.leftAligned {
    flex: 0 0 400px;
    display: flex;
}

.rightAligned {
    flex: 0 0 1200px;
    display: flex;
    flex-direction: row-reverse;
}

.hoverScale:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.scaleLow:hover {
    transform: scale(1.01);
    /*cursor: pointer;*/
}
